* {
  margin: 0;
  padding: 0;
  box-sizing: border-bo;
}

body {
  font-family: "Inter", sans-serif;
  color: #343a40;
  border-bottom: 8px solid #087f5b;
}

.container {
  width: 960px;
  margin: 0 auto;
}
header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  align-items: center;
  margin-bottom: 80px;
}
.header-image {
  border-radius: 12px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
}

header,
section {
  margin-bottom: 48px;
}

h2 {
  margin-bottom: 48px;
  font-size: 36px;
  letter-spacing: -0.5px;
}

.grid-3-cols {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.btn:link,
.btn:visited {
  background-color: #087f5b;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  padding: 16px 32px;
  display: inline-block;
  font-weight: 500;
  font-size: 18px;
}

.btn:hover,
.btn:active {
  background-color: #099268;
}

.btn--big {
  font-size: 20px;
  padding: 16px 32px;
  border-radius: 4px;
  letter-spacing: 2px;
}

.header-text-box {
  align-self: center;
}

h1 {
  margin-bottom: 20px;
  font-size: 44px;
  line-height: 1.3;
  letter-spacing: -1px;
}

.header-text {
  margin-bottom: 24px;
  font-size: 18px;
  line-height: 1.7;
}

.header-image {
  width: 100%;
  border-radius: 12px;
}

.features-icon {
  stroke: #087f5b;
  width: 32px;
  height: 32px;
  margin-bottom: 16px;
}

.features-title {
  margin-bottom: 16px;
  font-size: 20px;
}

.features-text {
  font-size: 18px;
  line-height: 1.7;
}

/*Testimonial Section*/
.testimonial-section {
  padding: 80px 20px;
  background: #087f5b;
  color: #fff;
}
.testimonial-grid {
  display: grid;
  grid-template-columns: 350px 1fr;
  gap: 60px;
  max-width: 1100px;
  margin: 0 auto;
  align-items: center;
}
.testimonial-img {
  width: 100%;
  height: 420px;
  object-fit: cover;
  border-radius: 12px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
}

.testimonial-text {
  font-style: italic;
  font-size: 18px;
  line-height: 1.7;
  margin-bottom: 24px;
}

/*Chairs Section*/
.grid-3-cols {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.chair {
  background: #f9f9f9;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}
.chair:hover {
  transform: translateY(-10px);
}
.chair img {
  object-fit: cover;
  width: 100%;
  height: 300px;
}
.chair-box {
  padding: 24px;
}

h3 {
  margin-bottom: 24px;
  font-size: 20px;
}

.chair-details {
  margin-bottom: 24px;
  color: #555;
}

.chair-details li {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 20px;
}

.chair-details li:last-child {
  margin-bottom: 0;
}

.chair-price {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  align-items: center;
  font-weight: bold;
  margin-top: 40px;
}
.btn--small {
  padding: 8px 12px;
  color: #fff;
  background-color: #087f5b;
  cursor: pointer;
  text-decoration: none;
  font-size: 14px;
  border-radius: 4px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 400;
}

footer {
  margin-bottom: 48px;
  font-size: 14px;
  color: #495057;
}
