* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Outfit", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}

/************************************/
/***GENERAL REUSABLE COMPONENTS***/
/************************************/

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.grid {
  display: grid;
  gap: 9.6rem;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

.heading-primary,
.heading-secondary {
  font-weight: 700;
  color: #333;
  letter-spacing: -0.5px;
}

.heading-primary {
  font-size: 5.2rem;
  font-weight: 700;
  line-height: 1.05;
  color: #333;
  letter-spacing: -0.5px;
  margin-bottom: 3.2rem;
}

.heading-secondary {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 9.6rem;
}

.subheading {
  display: block;
  font-size: 1.6rem;
  font-weight: 600;
  color: #cf711f;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  letter-spacing: 0.75px;
}

/************************************/
/***HEADER***/
/************************************/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fdf2e9;

  height: 9.6rem;
  padding: 0 4.8rem;
}

.logo {
  font-size: 3rem;
  font-weight: 700;
  color: #e67e22;
  text-decoration: none;
}

/************************************/
/***HERO SECTION***/
/************************************/

.section-hero {
  background-color: #fdf2e9;
  padding: 4.8rem 0 9.6rem 0;
}

.hero {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 9.6rem;
}

/*************************************/
/***NAVIGATION***/
/*************************************/

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  font-size: 1.8rem;
  font-weight: 500;
  color: #555;
  text-decoration: none;
  transition: color 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #cf711f;
}

.main-nav-link.nav-cta:link,
.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 4rem;
  background-color: #e67e22;
  color: #fff;
}

.main-nav-link.nav-cta:hover,
.nav-cta:active {
  background-color: #cf711f;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 2.8rem;
}

.btn:link,
btn:visited {
  display: inline-block;
  background-color: #e67e22;
  color: #fff;
  font-size: 2rem;
  padding: 1.6rem 3.2rem;
  border-radius: 4rem;
  text-decoration: none;

  transition: background-color 0.5s;
}

.btn--full:link,
.btn--full:visited {
  background-color: #e67e22;
  color: #fff;
}

.btn--full:hover,
.btn--full:active {
  background-color: #cf711f;
}

.btn--outline:link,
.btn--outline:visited {
  background-color: #fff;
  border: 2px solid #e67e22;
  color: #e67e22;
}

.btn--outline:hover,
.btn--outline:active {
  background-color: #fdf2e9;
}

.margin-right-sm {
  margin-right: 1.6rem;
}

.hero-image {
  width: 100%;
  object-fit: cover;
}

.delivered-meals {
  display: flex;
  margin-top: 8rem;
  align-items: center;
  gap: 1.6rem;
}

.delivered-imgs {
  display: flex;
}

.delivered-imgs img {
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 50%;
  margin-right: -1.4rem;
  object-fit: cover;
  border: 3px solid #fdf2e9;

  /*image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;*/
}

.delivered-imgs img:last-child {
  margin-right: 0;
}

.delivered-text {
  font-size: 1.8rem;
  font-weight: 600;
}

.delivered-text span {
  font-size: larger;
  color: #cf711f;
  font-weight: 700;
}

/************************************/
/***HOW IT WORKS SECTION***/
/************************************/
.section-how {
  padding: 9.6rem 0;
}

.step-number {
  font-size: 8.6rem;
  font-weight: 600;
  color: #ddd;
  margin-bottom: 1.2rem;
}

.step-description {
  font-size: 1.8rem;
  line-height: 1.6;
  margin-top: 1.6rem;
}

.step-img-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.step-img {
  width: 50%;
}

/************************************/
/***MEALS SECTION***/
/************************************/

.section-meals {
  background-color: #fdf2e9;
  padding: 9.6rem 0;
}

.meal {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 11px;
  overflow: hidden;
  transition: all 0.3s;
}

.meal:hover {
  transform: translateY(-1rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
}

.meal-content {
  padding: 3.2rem;
}

.meal-tags {
  margin-bottom: 1.2rem;
  display: flex;
  gap: 0.8rem;
}

.tag {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  text-transform: uppercase;
  background-color: #51cf66;
  color: #555;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 2rem;
}

.tag--vegetarian {
  background-color: #51cf66;
}

.tag--paleo {
  background-color: #ffd43b;
}

.tag--vegan {
  background-color: #94d82d;
}

.meal-title {
  font-size: 2.4rem;
  color: #333;
  font-weight: 600;
  margin-bottom: 2rem;
}

.meal-attributes {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  font-size: 1.8rem;
  color: #777;
  margin-bottom: 1.6rem;
}

.meal-attribute {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.meal-icon {
  height: 2.4rem;
  width: 2.4rem;
  color: #e67e22;
}

.meal-img {
  width: 100%;
  margin-bottom: 2.4rem;
  object-fit: cover;
}

.meal-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.list-icon {
  width: 3rem;
  height: 3rem;
  color: #e67e22;
}

.meal-item {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.all-recipes {
  font-size: 1.8rem;
  text-align: center;
  margin-top: 4.8rem;
}
